<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title
	th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{/css/site.css}">
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Facturación</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li sec:authorize="isAuthenticated()"
						class="dropdown show text-white"><a
						class="btn btn-secondary text-white dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <span
							sec:authentication="name"></span>
					</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item btn btn-outline-light"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">Salir</button>
							</form>
						</div></li>
				</ul>
			</div>
		</nav>
		<div class="container py-2">
			<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}"
				th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>
		</div>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring.png}" alt="Spring logo"
			style="width: 100px; heigh: 100px," />
		<p sec:authorize="isAuthenticated()">
			Usuario: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>
		</p>
		<p>
			&copy; H&C Software 2020
			Todos los derechos reservados
		</p>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/font-awesome5.js}"></script>
		<script th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
	</footer>

</body>
</html>