<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body class="sb-nav-fixed">
	<header th:replace="layout/layout :: header"></header>
	<div id="layoutSidenav">
		<div th:replace="layout/layout :: menu"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid py-2">
					<div th:replace="layout/layout :: messages"></div>
					<div class="card bg-light">
						<div class="card-header font-weight-bold">
							<i class="fa fa-users"></i> <span th:text="${titulo}"></span>
							<div class="float-right text-right m-0 p-0">
								<div
									class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
									<div class="input-group">
										<input type="text" class="form-control form-control-sm search"
											autofocus="autofocus" aria-label="Buscar"
											aria-describedby="basic-addon2"></input>
										<div class="input-group-append">
											<button class="btn btn-sm btn-dark" type="button">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<a th:href="@{/usuarios/form}" data-toggle="tooltip"
									data-placement="bottom" title="Nuevo" class="link-new"> <i
									class="fas fa-user-plus"></i>
								</a>
							</div>
						</div>
						<div class="card-body">
							<table class="table table-responsive table-striped primaryTable">
								<thead class="thead-inverse">
									<tr>
										<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')" style="width: 1%;"></th>
										<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')"  style="width: 1%;"></th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Usuario</th>
										<th>Estado</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="usuario:${usuarios}" th:if="${usuario.id != 1}">
										<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')" style="width: 1%;"><a
											class="link-new" data-toggle="tooltip" title="Restablecer contraseña"
											th:href="@{/usuarios/restablecerPass/} + ${usuario.id}"
											onclick="return confirm('¿Seguro que desea restablecer la contraseña?');">
												<i class="fas fa-redo"></i>
										</a>
										</td>
										<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
											class="link-new" data-toggle="tooltip" title="Eliminar"
											th:href="@{/usuarios/eliminar/} + ${usuario.id}"
											onclick="return confirm('¿Seguro que desea eliminar el registro?');">
												<i class="fas fa-trash"></i>
										</a></td>
										<td><a th:href="@{/usuarios/form/} + ${usuario.id}"
											th:text="${usuario.nombre}"></a></td>
										<td th:text="${usuario.apellido}"></td>
										<td th:text="${usuario.username}"></td>
										<td>
											<span class="badge badge-danger" th:if="${not usuario.enabled}" th:text="Inactivo"></span>
											<span class="badge badge-success" th:if="${usuario.enabled}" th:text="Activo"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			<footer th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>
</html>