<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body class="sb-nav-fixed">
	<header th:replace="layout/layout :: header"></header>
	<div id="layoutSidenav">
		<div th:replace="layout/layout :: menu"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid py-2">
					<div th:replace="layout/layout :: messages"></div>
					<div class="card bg-light">
						<div class="card-header font-weight-bold">
							<i class="fa fa-users"></i> <span th:text="${titulo}"></span>
							<div class="float-right text-right m-0 p-0">
								<div
									class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
									<div class="input-group">
										<input type="text" class="form-control form-control-sm search"
											autofocus="autofocus" aria-label="Buscar"
											aria-describedby="basic-addon2"></input>
										<div class="input-group-append">
											<button class="btn btn-sm btn-dark" type="button">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<a th:href="@{/clientes/form}" data-toggle="tooltip"
									data-placement="bottom" title="Nuevo" class="link-new"> <i
									class="fas fa-user-plus"></i>
								</a>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title">
								<a class="btn btn-success btn-xs float-right mx-2 d-none"
									th:href="@{'/clientes/listar'(format=csv)}" th:text="'CSV'"></a>
								<a
									class="btn btn-outline-success btn-xs float-right mx-2 d-none"
									th:href="@{'/clientes/listar'(format=xml)}" th:text="'XML'"></a>
								<a class="btn btn-warning btn-xs float-right d-none"
									th:href="@{'/clientes/listar'(format=json)}" th:text="'JSON'"></a>
							</h4>
							<table class="table table-responsive table-striped primaryTable">
								<thead class="thead-inverse">
									<tr>
										<th style="width: 1%;"></th>
										<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')" style="width: 1%;"></th>
										<th th:text="#{text.cliente.nombre}"></th>
										<th th:text="#{text.cliente.telefono}"></th>
										<th th:text="#{text.cliente.email}"></th>
										<th th:text="Dirección"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cliente:${clientes}">
										<td style="width: 1%;"></td>
										<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
											class="link-new" data-toggle="tooltip" title="Eliminar"
											th:href="@{/clientes/eliminar/} + ${cliente.id}"
											onclick="return confirm('¿Seguro que desea eliminar el registro?');">
												<i class="fas fa-trash"></i>
										</a></td>
										<td><a th:href="@{/clientes/form/} + ${cliente.id}"
											th:text="${cliente.nombre}"></a></td>
										<td th:text="${cliente.telefono}"></td>
										<td th:text="${cliente.email}"></td>
										<td th:text="${cliente.direccion}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
			<footer th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>
</html>