body {
	font-weight: normal;
    font-size: medium;
    font-style: normal;
}

i{
	font-size: 13pt;
}

.card-columns .card:hover {
	background-color: #6c757d !important;
	border-color: #6c757d !important;
	color: white;
}

.link-new {
	text-decoration: none;
	color: black;
}

.dataTables_length label {
	display: inline-flex;
}

.dataTables_filter {
	float: right;
    padding-right: 6em;
}

.dataTables_filter label {
	display: inline-flex;
}

.dataTables_wrapper .row .col-md-6 {
	display:none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-color: #dee2e6 #dee2e6 #f8f9fa!important;
	background-color: transparent;
}

.btn-primary {
    color: #fff !important;
    background: #428bca !important;
    border-color: #357ebd !important;
    box-shadow: none !important;
}

.enMoney::before {
    content:"$";
}
.negMoney {
    color:red;
}
div.negMoney::before {
    content:'($';
}
div.negMoney::after {
    content:')';
}